///////////////////
//BORDER-STYLE:
//BORDER-WIDTH:
///////////////////

.is__this--bordered,
.is__bdr
  border-width: $border-width-m
  border-style: solid

  &-b
    border-bottom-width: $border-width-m
    border-bottom-style: solid

  &-t
    border-top-width: $border-width-m
    border-top-style: solid

  &-l
    border-left-width: $border-width-m
    border-left-style: solid

  &-r
    border-right-width: $border-width-m
    border-right-style: solid

///////////////////
//BORDER-RADIUS:
///////////////////

.is__this--border-radius,
.is__br
  border-radius: $border-radius-m

  &--thick
    border-radius: $border-radius-l

  &--thin
    border-radius: $border-radius-s



///////////////////
//FlOAT:
///////////////////

.is__this--floating--left,
.is__fl
  float: left

.is__this--floating--right,
.is__fr
  float: right

.is__this--centered,
.is__ctr
  margin: auto


///////////////////
//DISPLAY:
///////////////////

.is__this--display
  &--block
    display: block
  &--inline
    display: inline-block
  &--flex
    display: flex
  &--hidden
    display: none