@each $color in $color-list
  $colorname: nth($color, 1)
  $rgbvalue: nth($color, 2)

  .is__text--c-#{$colorname}
    color: unquote($rgbvalue)


  .is__background--c-#{$colorname},
  .is__bg--c-#{$colorname}
    background: unquote($rgbvalue)

  .is__border--c-#{$colorname},
  .is__bdr--c-#{$colorname}
    border-color: unquote($rgbvalue)
